@using BurgersApp.Application.Dto.Burgers
@model IEnumerable<BurgerDto>
@{
    ViewData["Title"] = "Menu";
}

<h3 id="menu-title">PseudoBurgers Menu</h3>

<button type="button" class="container btn btn-lg btn-outline-secondary mb-4">Show all burgers</button>
<button type="button" class="container btn btn-lg btn-outline-secondary mb-4">Show regular burgers</button>
<button type="button" class="container btn btn-lg btn-outline-secondary mb-4">Show vegetarian burgers</button>
<button type="button" class="container btn btn-lg btn-outline-secondary mb-4">Show vegan burgers</button>

<div class="menu-container all-burgers hidden">
    @foreach(var burger in Model)
    {
        <div class="burger-container">
             <div class="mb-3"> 
                <h5 class="mb-3">@burger.Name</h5>
                <p><em><b>Category: @burger.Category ~ Price: @burger.Price</b></em></p>
             </div>
             <hr>
             <div class="mb-3">
                <p>Ingredients:</p>
                
                    <p>@burger.Ingredients</p>
             </div>
             <div class="img-div">
                 <img src=@burger.ImgSrc width="450" height="250"> 
             </div>
        </div>
    }
</div>

<div class="menu-container regular-burgers hidden">
    @foreach(var burger in Model)
    {
        if(!burger.IsVegetarian && !burger.IsVegan)
        {
         <div class="burger-container">
             <div class="mb-3"> 
                <h5 class="mb-3">@burger.Name</h5>
                <p><em><b>Category: @burger.Category ~ Price: @burger.Price</b></em></p>
             </div>
             <hr>
             <div class="mb-3">
                <p>Ingredients:</p>
                    <p>@burger.Ingredients</p>
             </div>
             <div class="img-div">
                 <img src=@burger.ImgSrc width="450" height="250"> 
             </div>
         </div>
        }
    }
</div>

<div class="menu-container vegetarian-burgers hidden">
    @foreach(var burger in Model)
    {
        if((burger.IsVegetarian) || (burger.IsVegan))
        {
         <div class="burger-container">
             <div class="mb-3"> 
                <h5 class="mb-3">@burger.Name</h5>
                <p><em><b>Category: @burger.Category ~ Price: @burger.Price</b></em></p>
             </div>
             <hr>
             <div class="mb-3">
                <p>Ingredients:</p>
                
                    <p>@burger.Ingredients</p>
             </div>
             <div class="img-div">
                 <img src=@burger.ImgSrc width="450" height="250"> 
             </div>
         </div>
        }
    }
</div>

<div class="menu-container vegan-burgers hidden">
    @foreach(var burger in Model)
    {
        if(burger.IsVegan)
        {
         <div class="burger-container">
             <div class="mb-3"> 
                <h5 class="mb-3">@burger.Name</h5>
                <p><em><b>Category: @burger.Category ~ Price: @burger.Price</b></em></p>
             </div>
             <hr>
             <div class="mb-3">
                <p>Ingredients:</p>
                
                    <p>@burger.Ingredients</p>
             </div>
             <img src=@burger.ImgSrc width="450" height="250"> 
         </div>
        }
    }
</div>

<script src=~/js/menu.js></script>