@using BurgersApp.Application.Dto.Order;
@model OrderDto;

<div class="order-log-container container">
    <h3>Order details</h3>
    <h5>Order Id: @Model.Id</h5>
    <h5>Customer name: @Model.FirstName @Model.LastName</h5>
    <h5>Customer Address: @Model.Address</h5>
    <h5>Order Price: @Model.TotalPrice</h5>
    <h5>Burgers: @Model.BurgersInOrder</h5>
    <h5>Store: @Model.Location.Name, @Model.Location.Address</h5>
</div>