@using BurgersApp.Application.Dto.Home
@model HomeViewModel;

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pseudo Burgers</h1>
    <p>Make an online order, check out our menu, or find out more about our locations.</p>
</div>

<div class="main-container">
    <div class="statistics-section">
        <div class="home-sections orders-served mb-lg-5">
            <h5>Orders served so far</h5>
            <p><strong>@Model.Statistics.OrdersServed</strong> and counting</p>
        </div>

        <div class="home-sections average-price mb-lg-5">
            <h5>Order average price</h5>
            <p>Average price of an order is <strong>@Model.Statistics.AverageOrderPrice</strong></p>
        </div>

        <div class="home-sections best-seller mb-lg-5">
            <h5>Best selling burger</h5>
            <hr/>
            @if(Model.Statistics.BurgerBestSeller == null)
            {
            <p>No online orders served so far</p>
            } 
            else 
            {
             <div class="mb-3"> 
                <h5 class="mb-3">@Model.Statistics.BurgerBestSeller.Name</h5>
                <p><em><b>Category: @Model.Statistics.BurgerBestSeller.Category ~ Price: @Model.Statistics.BurgerBestSeller.Price</b></em></p>
             </div>
             <hr/>
             <div class="mb-3">
                <p>Ingredients:</p>
                <p>@Model.Statistics.BurgerBestSeller.Ingredients</p>
             </div>
             <div class="img-div">
                 <img src=@Model.Statistics.BurgerBestSeller.ImgSrc width="450" height="250"> 
             </div>
            }
        </div>
    </div>

    <div class="home-sections locations mb-lg-5">
        <h5 class="mb-4">Where can you find us?</h5>
        @foreach(var location in Model.Location)
        {
            <div class="container mb-3">
                <p><b>@location.Name</b></p>
                <p>Address: @location.Address</p>
                <p><em>Working hours: @location.WorkingDaysAndHours</em></p>
            </div>
            <a asp-controller="Home" asp-action="EditLocation" asp-route-id="@location.Id" class="btn btn-secondary active" role="button" aria-pressed="true">
                 Edit Location
            </a>
            <a asp-controller="Home" asp-action="DeleteLocation" asp-route-id="@location.Id" class="btn btn-danger active" role="button" aria-pressed="true">
                 Delete Location
            </a>
        }

        <a asp-controller="Home" asp-action="CreateLocation" class="btn btn-outline-info btn-lg active" role="button" aria-pressed="true">
                    Add new location
        </a>
    </div>
</div>